<div class="container">
    <div class="col-md-12 p-0">
      <h2>
        Array Items
      </h2>
  </div>
  <div class="row context">
    <div class="col-md-9 editor">
      <ace [mode]="'text'" [theme]="'monokai'" [(value)]="value" (keyup)="toArray()" (change)="toArray()"></ace>
    </div>
    <div class="col-md-3 results">
      <div class="row">
        <p>
          <mat-slide-toggle (change)="IgnoreSpace($event)" [(ngModel)]="checked">Ignorar Linha Vazia</mat-slide-toggle>
        </p>
        <p>
          <mat-slide-toggle (change)="IgnoreNumber($event)" [(ngModel)]="skipNumber">Ignorar Numero</mat-slide-toggle>
        </p>
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>Raw</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span class="content-array">{{ arrayRaw }}</span>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="row">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>
              Array Typescript
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span class="content-array">
              {{ array.length > 1 ? JSON.stringify(array) : '' }}
            </span>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="row">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>Array</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span class="content-array">{{ arraySql }}</span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

